.content {
	margin-left: 15em;
	padding: 1em;
    transition: margin-left 0.5s ease, width 0.5s ease, margin-right 0.5s ease;
}

.content.centered {
	margin-left: 5em;
	margin-right: 1em;
	transition: margin-left 0.7s ease, width 0.7s ease, margin-right 0.7s ease;
}
