.scaled-cover-image {
	max-height: 200px;
	padding-top: 5px;
	padding-bottom: 15px;
}

.listing-preview {
	height: 100%;
	background-color: var(--primary-light);
	color: var(--text-on-primary);
	border: 1px solid var(--primary);
	border-radius: 0.5rem;
	transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.listing-preview:hover {
	background-color: rgba(13, 110, 253, 0.1); /* Lighter blue on hover */
	transform: translateY(-4px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.listing-preview-parent {
	margin-top: 10px;
}

.badge {
	background-color: var(--primary);
	color: var(--text-on-primary);
}